html,
body {
  height: 100%;
  width: 100%;

  background-color: #fff;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav.shrink {
  background-color: #3c4664;
  opacity: 0.95;

  transition: all ease 1s;
}

nav.shrink .navbar-nav li a {
  color: #fff;
  transition: all ease 1s;
}

nav.shrink .navbar-nav li a:hover {
  color: #222;
  transition: all ease 0.25s;
}

.navbar-nav li {
  padding-right: 5px;
}

.navbar-default {
  background-color: transparent;
  border: 0;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-toggle span.icon-bar {
    transition: all 0.5s;
}

.navbar-toggle span:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggle span:nth-child(2) {
    opacity: 0;
}

.navbar-toggle span:nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggle.collapsed span:nth-child(1),
.navbar-toggle.collapsed span:nth-child(3) {
    transform: rotate(0);
}

.navbar-toggle.collapsed span:nth-child(2) {
    opacity: 1;
}


.navbar-default .navbar-toggle .icon-bar {
  background-color: #eee;
}

nav.shrink .navbar-brand {
  font-size: 20px;
  color: #eee;
  transition: all ease 1s;
}

nav.shrink .navbar-brand:hover {
  font-size: 20px;
  color: #222;
  transition: all ease 0.25s;
}

.navbar .navbar-brand {
  color: transparent;
  font-size: 20px;
  transition: all ease 1s;
}

.navbar .navbar-brand:hover {
  color: transparent;
}

.navbar-default .navbar-nav li a {
  color: #eee;
  transition: all ease 1s;
}

.navbar-default .navbar-nav li a:hover {
  color: #222;
  transition: all ease 0.25s;
}

#particles-js {
  background: linear-gradient(#3c4664, #3c3c3c);
  height: 100%;
  width: 100%;
}

#main {
  text-align: left;
  position: absolute;
  color: #eee;
  top: 25%;
  width: 100%;
  padding-left: 10%;
}

#main h1 {
  font-size: 500%;
  font-weight: 600;
}

#main p {
  font-size: 150%;
}

.padding {
  padding: 40px 0px 80px 0px;
}

.padding img {
  width: 100%;
}

.aboutMe {
  width: 85%;
  margin: 0 auto;
  padding-top: 2rem;
}

.abtText {
  text-align: justify;
}

.aboutMe hr {
  border-top: 2px solid #3c4664;
  width: 95%;
}

.upper {
  border-top: 2px solid #3c4664;
  width: 100%;
}

.mid {
  border: none;
  padding: 0;
  margin: 0;
}

#maker .quad {
  text-align: left;
}

.pad {
  padding-bottom: 0%;
}

.carPadding {
  padding-bottom: 5%;
}

#work{
  padding-bottom: 20%;
}

.exp,
.project {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: fixed;
}

.exp {
  background-image: url("../img/experience.jpeg");
  min-height: 200px;
}

.project {
  background-image: url("../img/projects.png");
  min-height: 200px;
}

.ptext {
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  color: #eee;
  font-size: 27px;
  letter-spacing: 4px;
  text-transform: uppercase;

  font-weight: 500;
}

.exp .ptext {
  color: #222;
}

.apple,
.park {
  text-align: center;
}

#robot li{
  font-size: 18px;
}

#robCarousel {
  background-color: transparent;
}

.carousel-indicators {
  position: absolute;
  bottom: -50px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}

.carousel-indicators li {
  border-radius: 10px;
  margin: 1px 3px;
  height: 10px;
  max-width: 10px;
  border: 1px solid #222;
  background-color: transparent;
}
.carousel-indicators .active {
  background-color: #3c4664;
  max-width: 12px;
  margin: 0 3px;
  height: 12px;
}

.carousel-caption {
  background-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #222;
  position: static;
  max-width: 550px;
  padding: 0 10px;
  margin: 0 auto;
  margin-top: 0;
  text-align: center;
  text-shadow: transparent;
}

.carousel-caption h3 {
  margin: 5px;
  line-height: 1.25;
  color: #000;
  text-shadow: none;
  font-weight: 400;
}

.carousel-control.left,
.carousel-control.right {
  background: none !important;
  filter: none !important;
  position: absolute;
  top: 50%; /* pushes the icon in the middle of the height */
  z-index: 5;
  display: inline-block;
  color: #3c4664;
}

#pred-tet .center {
  text-align: center;
}

#pred-tet .right {
  text-align: right;
}

.rightButton {
  padding-top: 15px;
}

#connect {
  background-color: #dcdcdc;
}

#connect a {
  font-size: 40px;
  padding: 0 15px;
}

#connect .social {
  padding: 15px;
}

.linked{
  color: #0077B5;
}

.git{
  color: #6E5495;
}

.mail{
  color: #007ACC;
}

footer {
  padding: 10px;
  background-color: #3c4664;
  color: #eee;
}

footer hr {
  border-top: 2px solid #3c4664;
  width: 75%;
}





/*/////////////////////////////////////////

Mobile Support




/////////////////////////////////////////*/

@media only screen and (max-width: 995px) {
  .main,
  .exp,
  .project {
    background-attachment: scroll;
  }

  #main h1 {
    font-size: 300%;
  }

  nav.shrink {
    background-color: #3c4664;
    opacity: 0.85;

    transition: all ease 1s;
  }

  nav.shrink .navbar-nav li a {
    color: #eee;
    transition: all ease 1s;
  }

  nav.shrink .navbar-nav li a:hover {
    color: #222;
    transition: all ease 0.25s;
  }

  .navbar-default {
    background-color: #3c4664;
    opacity: 0.95;
    border: 0;
  }

  .navbar-default .navbar-collapse {
    border: 0;
    background-color: #3c4664;
    opacity: 0.95;
    text-align: center;

  }

  .navbar-default .navbar-nav li a {
    color: #eee;
  
  }

  .navbar-default .navbar-nav li a:hover {
    color: #222;
  }

  .ptext {
    font-size: 20px;
  }

  
  .mid {
    border-top: 2px solid #3c4664;
    width: 15%;
    margin: 0 42.5%;
  }

  .upper {
    width: 85%;
  }

  .pad {
    padding-bottom: 0;
  }

  .display-4 {
    font-size: 24px;
    text-align: center;
  }

  #work{
    padding-bottom: 5%;
  }

  .apple p,
  .park p {
    text-align: justify;
    padding: 0 5%;
  }

  #robot {
    padding-bottom: 15%;
  }

  #robot li{
    font-size: 16px
  }

  .rob15 p,
  .rob16 p,
  .rob17 p {
    text-align: justify;
    padding: 0 10% 0 0;
  }

  #maker h2 {
    text-align: center;
  }

  #maker p {
    text-align: justify;
    padding: 0 5%;
  }

  #pred-tet {
    width: 85%;
  }

  #pred-tet .right,
  #pred-tet .center,
  #pred-tet .left {
    text-align: center;
    padding: 30px;
  }

  .pred p,
  .tetris p,
  .mrdcrobots p {
    text-align: justify;
  }

  .carousel-caption h3 {
    margin: 0px;
    line-height: 1.25;
    color: #000;
    text-shadow: none;
    font-weight: 400;
    font-size: 20px;
  }

  #robCarousel .carousel-control.left,
  #robCarousel .carousel-control.right {
    color: #fff;
  }
}
