html, body{
	height: 100%;
	width: 100%;

	background-color: #dcdcdc;

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


nav{
	transition: all ease 1s;
}

nav.shrink{
	background-color: #3C4664;
	opacity: 0.85;

	transition: all ease 1s;
}


nav.shrink .navbar-nav li a{
	color: #fff;
	transition: all ease 1s;
}

nav.shrink .navbar-nav li a:hover{
	color: #222;
	transition: all ease 0.25s;
}


.navbar-nav li{
	padding-right: 5px;
}

.navbar-default{
	background-color: transparent;
	border: 0;
}


.navbar-default .navbar-toggle{
	border: 0;
	background-color: #eee;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #222;
}

nav.shrink .navbar-brand{
	font-size: 20px;
	color: #eee;
	transition: all ease 1s;
}

.navbar .navbar-brand{
	color: transparent;
	font-size: 20px;
	transition: all ease 1s;
}

.navbar .navbar-brand:hover{
	color: transparent;
}

.navbar-default .navbar-nav li a{
	color: #222;
	transition: all ease 1s;
}

.navbar-default .navbar-nav li a:hover{
	color: #eee;
	transition: all ease 0.25s;
}

#showcase{
	background: url(../img/landing.jpeg) no-repeat center center fixed;
	display: table;
	height: 100%;
	width: 100%;
	position: relative;
	background-size: cover;
}

.landing-text{
	display: table-cell;
	text-align: center;
}

.landing-text h1{
	font-size: 500%;
	font-weight: 700;
	margin-top: 200px;
}

.landing-text p{
	font-size: 150%;
}


.padding{
	padding: 80px 0;
}

.padding img{
	width: 100%
}

.aboutMe{
	width: 85%;
	margin: 0 auto;
	padding-top: 2rem;
}

.aboutMe hr{
	border-top: 2px solid #3C4664;
	width: 95%;
}

.edu, .exp, .project{
	position: relative;
	opacity: 0.7;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	background-attachment: fixed;

	
}

.edu{
	background-image: url("../img/education.jpeg");
	min-height: 200px;
}

.exp{
	background-image: url("../img/experience.png");
	min-height: 200px;
}

.project{
	background-image: url("../img/experience.png");
	min-height: 200px;
}

.ptext{
	position: absolute;
	top: 45%;
	width: 100%;
	text-align: center;
	color: #eee;
	font-size: 27px;
	letter-spacing: 4px;
	text-transform: uppercase;

	font-weight: 500;
}

footer{
	background-color: #3C4664;
	color: #eee;
}

footer hr{
	border-top: 2px solid #3C4664;
	width: 75%;
}

.padding-foot{
	padding-bottom: 15px;
}

@media only screen and (max-width: 768px) {

	#Home{
		background-attachment: scroll;
	}

	.landing-text h1{
		font-size: 300%;
		font-weight: 700;
		top: 50%;
		margin-top: 200px;
	}
	
	.landing-text p{
		font-size: 125%;
		font-weight: 500;
	}

	nav.shrink{
		background-color: #3C4664;
		opacity: 0.85;
	
		transition: all ease 1s;
	}
	
	

	nav.shrink .navbar-nav li a{
		color: #eee;
		transition: all ease 1s;
	}
	
	nav.shrink .navbar-nav li a:hover{
		color: #222;
		transition: all ease 0.25s;
	}

	.navbar-default{
		background-color: transparent;
		opacity: 0.95;
		border: 0;
	}

    .navbar-default .navbar-collapse {
        border: 0;
		background-color: transparent;
		opacity: 0.95;
	 } 
	 
	 .navbar-default .navbar-nav li a{
		color: #eee;
	}
	
	.navbar-default .navbar-nav li a:hover{
		color: #222;
	}

	.edu, .exp{
		background-attachment: scroll;
	}


 }


/*--- iOS Landing Page Fix
section {
 	position: relative;
 	width: 100%;
 	height: 100%;
 	display: table;
}
.home-wrap {
 	clip: rect(0, auto, auto, 0);
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
}
#home {
	background: url('../img/landing.jpeg');
 	position: fixed;
 	display: table;
 	top: 0;
 	left: 0;
 	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
          transform: translateZ(0);
	will-change: transform;
	z-index: -1;
}
.landing-text {
	z-index: 100;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
*/

/*--- iOS Fixed Image Fix
figure {
	position: relative;
	width: 100%;
	height: 60%;
}
.fixed-wrap {
	clip: rect(0, auto, auto, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#fixed {
	background-image: url('img/background.jpg');
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
          transform: translateZ(0);
	will-change: transform;
}
--*/

